body{
    margin: 0px;
    padding: 0px;
    background-image: url(BG.jpg);
    background-size: 100% 100%;
}

#buymain{
    height: 360px;
    width: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 100px auto;
}
#buytitle{
    
    text-align: center;
    font-family: arial;
    font-size: 22px;
    font-weight: 600;
    padding: 50px 0 0 0;
}
.buyfield{
    text-align: center;
}
.buyfield input{
    height: 40px;
    width: 300px;
    padding:  0 0 0 5px;
    margin: 30px 0 0 0;
    outline: none;
    border: 2px dashed #191980
}
#buybtn{
    height: 40px;
    width: 100px;
    background-color: #191970;
    outline: none;
        border:none;
    overflow: hidden;
    color: white;
    font-family: arial;
    font-size: 13px
        margin : 55px 0 0 0;
    padding:  0 0 0 5px;
    
}

#btn:before{
    display: inline-block;
    content: 'NEXT';
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%,50%);
    -webkit-transition:all .js;
}
#btn:after{
    display: inline-block;
    height: 30px;
    width: 30px;
    background: url('');
    content: '';
    background-size: 100%;
    position: relative;
    top: 50%;
    left: 150%;
    -webkit-transition:all .3s;
}
#btn:hover:after{
    left=-250%;
}